body {
	color: #4d4c4d;
	font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
	background-color: #f9f8f8;
}

main {
	padding-top: 110px;
}

header {
	text-align: center;
	position: fixed;
	width: 100%;
	background-color: #f9f8f8;
	-webkit-box-shadow: 0 0 5px 3px #D4D4D4;
	box-shadow: 0 0 5px 3px #D4D4D4;
	cursor: pointer;
}

header h1 {
	margin-bottom: 0;
}

header p {
	margin-top: 0;
	text-transform: uppercase;
}

section {
	padding: 5%;
	background-color: white;
}

footer {
	text-align: center;
}

footer p {
	color: #939598;
	font-size: .7em;
}

p {
	padding: 4px 0;
}

a {
	text-decoration: none;
	color: #4d4c4d;
	-webkit-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
}

a:hover {
	color: #0088CC;
}

.work, .education, .contact, .skill, .interest {
	text-align: center;
	width: 100%;
	background-color: #f9f8f8;
	margin: 1px 0 0 0;
	padding: 1.2em 0;
	cursor: pointer;
	font-weight: lighter;
	border-bottom: 1px solid #e8e8e8;
	-webkit-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}

.work p, .education p, .contact p, .skill p, .interest p {
	font-size: 1.5em;
	padding: 0;
	margin: 0;
}


.work:hover, .education:hover, .contact:hover, .skill:hover, .interest:hover {
	background-color: #e8e8e8;
	border-bottom: solid 1px #0088CC;
}


.work_cont, .education_cont, .contact_cont, .skill_cont, .interest_cont  {
	display: none;
	border-top: 1px solid #0088CC;
	text-align: center;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

#headshot {
	max-width: 50%;
	margin: 0 25%;
}

#homeimage {
	display: none;
	max-width: 65%;
}

.blue {
	color: #0088CC;
}

.school, .experience {
	background-color: #f9f8f8;
	padding-top: 1%;
}

.red {
	border-bottom: 15px solid #C77851;
}

.green {
	border-bottom: 15px solid #A3B476;
}

.teal {
	border-bottom: 15px solid #82BFBF;
}

.uforange {
	border-bottom: 15px solid #e28f41;
}

.ufblue {
	border-bottom: 15px solid #6c9ac3;
}

.grey {
	border-bottom: 15px solid #939598;
}

.extended {
	display: none;
}

@media (min-width: 750px) {
    .experience, .school {
        display: inline-block;
        width: 32%;
        max-width: 400px;
    }

    .skill_col {
        display: inline-block;
        width: 30%;
        max-width: 400px;
        padding: 0 1.4%;
    }

    .skill_col p {
        text-align: left;
    }

    .extended {
    	display: block;
    	max-width: 700px;
    	margin: auto;
    }

    #headshot {
    	max-width: 450px;
    }

    section h3 {
    	padding-bottom: 3%;
    	margin-top: 0;
    }

    .skill_col {
    	vertical-align: top;
    }

	#homeimage {
		display: block;
		margin: auto;
	}
}

@media (min-width: 1250px) {
	main  {
		max-width: 1250px;
		margin: auto;
	}

}
